# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.LocalMulti.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\1seco\Documents\LocalMulti\.idea\.idea.LocalMulti\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
